$primary: darkblue;
$primary-dark: darken(darkblue, 10%);
$primary-text: white;

$secondary: lightblue;
$secondary-dark: darken(lightblue, 10%);
$secondary-text: black;

$shadow: 6px 6px 5px darkgrey;

$font-stack: 'Roboto', sans-serif;

$br: 0.5em;
